{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {# image #}
    <div id="container pt-5">
        <h1>Liste des articles</h1>

        {% for article in articles %}

            <p>{{ article.id }}</p>
            <p>{{ article.title }}</p>
            <p>{{ article.resume }}</p>
            <p>{{ article.contenu }}</p>
            <p>{{ article.auteur }}</p>
            <p>{{ article.date }}</p>

            <button type="button" class="btn btn-primary">
                <a href={{ path('detail', {'id':article.id }) }}>Voir l'article {{ article.title }}</a>
            </button>

            <button type="button" class="btn btn-primary">
                <a href={{ path('detail', {'id':article.id}) }}>Supprimer l'article {{ article.title }}</a>
            </button>

    {% endfor %}







    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
